/* button{
   
     background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
     cursor: pointer;
}
button:hover{
     background:radial-gradient(circle, #F7E93F,#FB09B4,#9100F8);
} */

body{
    /* background-color: #1A0B2E; */
    background-color: burlywood;
}
.clr-w{
    color: #FFFFFF;
}
.clr-wh{
    color: whitesmoke;
}






.navbar{
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap:32px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.title{
    font-size: 30px;
}
#title-clr{
        color: #FB09B4;
}
.btn{
    margin-top: 24px;
    margin-bottom: 24px;
    width: 135px;
    border-radius: 10000px;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
    color: white;
    font-weight: 600;
    border: none;
}
.btn:hover{
     background:radial-gradient(circle, #F7E93F,#FB09B4,#9100F8);
}
.banner{
    height: 760px;
    background-image: url();
}